<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Roksana Koleva">
    <link rel="icon" href="/images/Logo.png" type="image/png" sizes="32x32">
    <title>Save Book</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
</head>
<body>
<h1>Save book</h1>
<form th:object="${book}" method="post">
    <p>Title: <input type="text" th:field="*{title}"></p>
    <p>Author:
        <select th:field="*{author}">
            <option value=""></option>
            <option th:each="author : ${authors}" th:value="${{author}}" th:text="${author.firstName}"></option>
        </select>
    </p>
    <p>Published: <input type="date"
                         value= "${#calendars.format(#calendars.createNow(),'dd MMM yyyy')}"
                         min="1800-01-01" max= "${#calendars.format(#calendars.createNow(),'dd MMM yyyy')}" th:field="*{year}" ></p>
    <p>Pages: <input type="number" min="1" max="99999"  th:field="*{pages}"  value="1"> </p>
    <p>Rating: <input type="number" step="0.1" min="1" max="5" th:field="*{rating}"  value="1"></p>
    <p>Image: <input type="text" th:field="*{image}"></p>
    <p>Genre:
        <select th:field="*{genre}">
            <option th:each ="genre : ${genres}" th:value="${{genre}}" th:text="${genre}"></option>
        </select>
    </p>
    <p> Language:
        <select th:filed="*{language}">
            <option th:each="language : ${languages}" th:value="${{language}}" th:text="${language}"></option>
        </select>
    </p>
    <p><input type="submit" value="Submit"> <input type="reset" value="Reset" /></p>

</form>
</body>
</html>
