<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Roksana Koleva">
    <title>The Library</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/resetter.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
    <div  th:fragment="footer">
        <footer class="footer">
            <div class="container">
                <ul>
                    <li>
                        <a href="/"> About Us </a>
                    </li>
                    <li>
                        <a href="/"> Social Media </a>
                    </li>
                    <li>
                        <a href="/"> Contact Us </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>