<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Roksana Koleva">
    <link rel="icon" href="/images/Logo.png" type="image/png" sizes="32x32">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" th:href="@{/css/home.css}">-->
    <link rel="stylesheet" th:href="@{/css/book.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/resetter.css}">

</head>
<body>

<div th:replace="fragments/navbar :: navbar">...</div>

<div class="single-book homeContainer container-fluid">
        <div>
            <div class="div_button">
                <a class="a_button" href="/"> Back Home</a>
            </div>
            <section>
                <div class="section_details allAboutBook row">
                    <div class="images col-xl-3 col-lg-3 col-md-3 ">
                        <img class="img-fluid" th:src="${book.image}" alt="">
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9">
                            <h2 class="design_titles card-title" th:text="${book.title}"></h2>
                            <h4 class="design_titles card-title" th:text="'by ' +${book.authorFirstName + ' '+ book.authorLastName}"></h4>
                        <div class="design_details" >
                            <p class="book-details card-text" th:text="${book.pages} + ' pages'"></p>
                            <p class="book-details card-text" th:text="'Published: ' + ${book.year}"></p>
                            <p class="book-details card-text" th:text="'Genre: ' + ${#strings.capitalizeWords(book.genre.toString().toLowerCase().replace('_', ' '))}"></p>
                            <p class="book-details card-text" th:text="'Language: ' + ${#strings.capitalizeWords(book.language.toString().toLowerCase())}"></p>
                            <p class="book-details card-text" th:text="'Rating: ' + ${book.rating}"></p>
                            <p class="book-details card-text summary" th:text="${book.summary}"></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>
