<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Library</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/resetter.css}">

</head>
<body>
<div th:replace="fragments/navbar :: navbar">...</div>



<div class="homeContainer container-fluid">
    <div class="row">
            <div class="suggestedBooks booksSection col-xl-3 col-lg-3 d-none d-lg-block d-xl-block">
                <h1>Suggested books</h1>
                 <section th:each="book : ${suggestedBooks}">
                     <a th:href="'book/' + ${book.id}" class="allAboutBook card row" >
                         <div class="card-img-top col-xl-12 col-lg-12 ">
                             <img class="img-fluid" th:src="${book.image}" alt="First book">
                         </div>
                         <div class=" card-body col-xl-12 col-lg-12">
                             <h2 class="card-title" th:text="${book.title}"></h2>
                             <h4 class="card-title" th:text="'by ' +${book.authorFirstName + ' '+ book.authorLastName}"></h4>
                             <p  class="card-text" th:text="${book.summary}"></p>
                         </div>
                     </a>
                 </section>
             </div>

            <div class="newReleases booksSection col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="newReleasesByAuthor booksSection col-xl-6 col-lg-6 col-md-6">
                        <h1>New releases by author</h1>
                        <input class="search" type="text" placeholder="Search Author">
                        <section th:each="book : ${latestBooks}">
                           <a th:href="'book/' + ${book.id}" class="allAboutBook card row ">
                               <div class="images card-img-top col-xl-12 col-lg-12 col-md-10">
                                     <img class="img-fluid" th:src="${book.image}" alt="First recommendation book">
                                </div>
                                <div class="card-body col-xl-12 col-lg-12 col-md-10">
                                    <h2 class="card-title" th:text="${book.title}"></h2>
                                    <h4 class="card-title" th:text="'by ' + ${book.authorFirstName + ' '+ book.authorLastName}"></h4>
                                    <p  class="card-text" th:text="${book.summary}"></p>
                                </div>
                           </a>
                        </section>
                    </div>

                    <div class="newReleasesByGenre booksSection col-xl-6 col-lg-6 col-md-6">
                        <h1>New releases by genre</h1>
                        <input class="search" type="text" placeholder="Search Genre">
                        <section th:each="book : ${findLatestBookByGenre}">
                            <a th:href="'book/' + ${book.id}" class="allAboutBook card row">
                                <div class="images card-img-top col-xl-12 col-lg-12 col-md-10">
                                    <img class="img-fluid" th:src="${book.image}" alt="First recommendation book">
                                </div>
                                <div class="card-body col-xl-12 col-lg-12 col-md-10">
                                    <h2 class="card-title" th:text="${book.title}"></h2>
                                    <h4 class="card-title" th:text="'by ' +${book.authorFirstName + ' '+ book.authorLastName}"></h4>
                                    <p  class="card-text" th:text="${book.summary}"></p>
                                </div>
                            </a>
                        </section>
                    </div>
                </div>
            </div>

            <div class="suggestedStories booksSection col-xl-3 col-lg-3 d-none d-lg-block d-xl-block">
                <h1>Suggested stories</h1>
                <section th:each="story : ${allStories}">
                    <a th:href="'story/' + ${story.id}" class="allAboutBook card row">
                        <div class="images card-img-top col-xl-12 col-lg-12">
                            <img class="img-fluid" th:src="${story.image}" alt="First recommendation book">
                        </div>
                        <div class=" card-body col-xl-12 col-lg-12 ">
                            <h2 class="card-title" th:text="${story.title}"></h2>
                            <h4 class="card-title" th:text="${story.userUserName}"></h4>
                              <p  class="card-text" th:text="${story.summary}"></p>
                        </div>
                    </a>
                </section>
            </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>
